.white-col {
  color: var(--color-whitecol);
}

.secondary-col {
  color: var(--color-secondarycol);
}

.gray-col {
  color: var(--color-graycol) !important;
}

.bg-secondary-col {
  background-color: var(--color-secondarycol);
}

.primary-col {
  color: var(--color-primarycol);
}

.bg-blackcol {
  background-color: var(--color-blackcol);
}

.bg-white {

  background-color: var(--color-whitecol);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-lightbrown {
  background-color: var(--color-lightbrown);
}

.bg-accent3 {
  background-color: var(--color-accent3);
}