$transition: all 0.15s ease-in-out;

// Media Sizes
$tab: '(min-width:576px)';
$tabL: '(min-width:768px)';
$ipadL: '(min-width:992px)';
$ipadXL: '(min-width:1025px)';
$desktop: '(min-width:1200px)';
$desktopL: '(min-width:1400px)';

$desktopLS: '(max-width:1399.98px)';
$ipadpro: '(max-width:1199.98px)';
$ipad: '(max-width:991.98px)';
$mineTab: '(max-width:767px)';
$mob: '(max-width:575.98px)';
