.error__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-block: 3.125em;

    img {
        margin-bottom: 2em;
    }

    p {
        font-size: 1.5em;
    }

    button {
        background-color: #000;
        padding: 1em 3em;
        color: #fff;
        border-radius: 10px;
    }
}
.review-form{
    .form-group{
        position: relative;
       
    }
}