@import "../../../styles/abstract/variable";

.relatedEventWrapper {
    background-color: var(--color-offwhite);
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--color-whitecol) 100%);
    }
}

.relatedEvent {
    position: relative;
    z-index: 3;
}

.title {
    margin: 0 0 1.25em;

    @media #{$mob} {
        text-align: center;
    }
}