@import '../../../styles/abstract/variable';

.homeBanner {
    height: 100vh;
    position: relative;
}

.imgWrapper {

    img,
    iframe {
        height: 56.25vw;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 177.77777778vh;
    }
    img{
        transform: none;
    }
}

.bannerSlide {
    position: relative;
    height: 100vh;
    width: 100%;

    .desktopImg {
        display: block;
        height: 100vh;
        width: 100%;

        // transform: scale(1);
        // transition: transform 3s ease-in-out;

        @media #{$mob} {
            display: none;
        }
    }

    .mobImg {
        display: none;

        @media #{$mob} {
            display: block;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }


    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background: linear-gradient(16deg, #000 8.02%, rgba(0, 0, 0, 0.00) 55.62%);
        z-index: 1;

        @media #{$mob} {
            background: linear-gradient(21deg, #000 35.91%, rgba(0, 0, 0, 0.00) 65.09%);
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        z-index: 1;

        @media #{$mob} {
            border-radius: 63.9375em;
            opacity: 0.22;
            background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        }
    }
}

.sliderTextWrapper {
    position: absolute;
    bottom: 7.6875em;
    z-index: 99;

    @media #{$mob} {
        bottom: 13.15em;
    }

    &:before {
        @media #{$mob} {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            border-radius: 63.9375em;
            opacity: 0.22;
            background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        }
    }

    .subtitle {
        letter-spacing: 0.225em;
        color: var(--color-whitecol);
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: center;

        @media #{$mob} {
            font-size: 1.15em;
        }

        &:before {
            display: block;
            content: "";
            width: 2.5em;
            height: 0.125em;
            background: var(--color-whitecol);
            margin-right: 0.625em;
        }

        &:after {
            display: block;
            content: "";
            width: 2.5em;
            height: 0.125em;
            background: var(--color-whitecol);
            margin-left: 0.625em;
        }
    }

    .title {
        width: 60%;
        font-weight: 500;
        color: var(--color-whitecol);
        line-height: 1.125;
        margin: 0.425em 0;

        @media #{$mob} {
            width: 100%;
            font-size: 2.2875em;
            line-height: 1.375;
        }
    }
}

.fixedWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.9375em;
    position: absolute;
    right: 3.755em;
    bottom: 2.5em;
    z-index: 2;
}

.iconWrapper {
    background-color: var(--color-primarycol);
    padding: 1.125em;
    border-radius: 3.125em;

    @media #{$mob} {
        padding: 0.8125em;
    }
}

.whatsappIcon {
    @media #{$mob} {
        width: 2.5em;
    }
}

.icon {
    @media #{$mob} {
        width: 1.3em;
    }
}