@import "../../../styles/abstract/variable";

.brandSlider {
    padding: 5em 0 0 0;
    position: relative;
    background-color: var(--color-whitecol);

}

.bgImg {
    position: relative;
    animation: moveBgImg 14s ease-in-out infinite;
}

@keyframes moveBgImg {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30%);
    }
}