@import "../../../styles/abstract/variable";

.textWrapper {
    position: relative;
    z-index: 1;
    text-wrap: nowrap;
}

.green {
    padding: 0.75em 1.625em 0.875em 1.6875em;
    border-radius: 6.25em;
    color: var(--color-whitecol);
    font-size: 1.125em;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-flex;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-secondarycol);
        border-radius: 10rem;
        z-index: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 100px;
        right: -110px;
        width: 0%;
        height: 100%;
        background: var(--color-primarycol);
        transition: all .7s;
        border-radius: 10rem;
        z-index: 1;
        transform: rotate(100deg);
    }

    &:hover {
        @media #{$desktop} {
            color: #fff;

            &:before {
                width: 18.75em;
                top: -1.875em;
                right: -3.125em;
                height: 18.75em;
                transform: rotate(0deg);
            }
        }

    }

    &.white {
        color: var(--color-whitecol);

        &:after {
            background-color: var(--color-secondarycol);
        }

        &:before {
            background: var(--color-whitecol);
        }

        &:hover {
            color: var(--color-primarycol);
        }
    }
}


.purple {
    padding: 0.66125em 1.4275em 0.77em 1.4275em;
    border-radius: 6.25em;
    color: var(--color-whitecol);
    font-size: 1.125em;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-flex;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-primarycol);
        border-radius: 10rem;
        z-index: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 6.25em;
        right: -6.875em;
        width: 0%;
        height: 100%;
        background: var(--color-secondarycol);
        transition: all .7s;
        border-radius: 10rem;
        z-index: 1;
        transform: rotate(100deg);
    }


    &:hover {
        @media #{$desktop} {

            color: #fff;

            &:before {
                width: 25em;
                top: -1.5625em;
                right: -6.375em;
                height: 28.125em;
                transform: rotate(0deg);
            }
        }

    }
}

.white {
    padding: 0.66125em 1.4275em 0.77em 1.4275em;
    border-radius: 6.25em;
    color: var(--color-primarycol);
    font-size: 1.125em;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-flex;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-whitecol);
        border-radius: 10rem;
        z-index: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 6.25em;
        right: -6.875em;
        width: 0%;
        height: 100%;
        background: var(--color-secondarycol);
        transition: all .7s;
        border-radius: 10rem;
        z-index: 1;
        transform: rotate(100deg);
    }


    &:hover {
        @media #{$desktop} {

            color: var(--color-whitecol);
            transition-delay: 0.25s;

            &:before {
                width: 25em;
                top: -1.5625em;
                right: -7em;
                height: 28.125em;
                transform: rotate(0deg);
            }
        }
    }
}

.text {
    position: relative;
    z-index: 1;
}

.transparent {
    padding: 0.66125em 1.4275em 0.77em 1.4275em;
    border-radius: 6.25em;
    font-size: 1.125em;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-flex;
    background-color: transparent;
    border: 2px solid var(--color-gray2col);
    color: var(--color-gray2col);
    transition: all 0.3s ease;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 10rem;
        z-index: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 6.25em;
        right: -6.875em;
        width: 0%;
        height: 100%;
        background: var(--color-primarycol);
        transition: all .7s;
        border-radius: 10rem;
        z-index: 1;
        transform: rotate(100deg);
    }

    &:hover {
        @media #{$desktop} {

            background-color: var(--color-primarycol);
            color: var(--color-whitecol);

            &:before {
                width: 25em;
                top: -1.5625em;
                right: -4.375em;
                height: 28.125em;
                transform: rotate(50deg);
            }
        }
    }

}