@import "../styles/abstract/variable";


.cutomRow {
    display: flex;
    background: rgba(var(--color-accent2),.2);
    position: relative;
    // irman
    .sidebarWrapper {
        width: 15.5%;

        @media #{$ipadpro} {
            width: 22em;
            position: absolute;
            z-index: 9;
            transition: $transition;
            overflow: hidden;

            &.active {
                width: 0;

            }
            @media #{$mob}{
                width: 100%;
            }
        }
    }

    @media #{$ipadpro} {
        .navButton {
            position: absolute;
            top: 15px;
            z-index: 10;
            padding: 0.5em;
            background: var(--color-graycol);
            transition: $transition;
            @media #{$mob}{
                right: 0.9375em;
                top: 0.9375em;
                left: auto;

            }
            .bar {
                width: 2.1875em;
                height: 0.125em;
                background-color: var(--color-whitecol);
                margin: 0.375em 0;
                transition: 0.4s;
            }

            .bar1 {
                transform: translate(0, 0.5625em) rotate(-45deg);
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                transform: translate(0, -0.4125em) rotate(45deg);
            }

            &.active {
                left: 0;
                right: auto;

                .bar1 {
                    transform: translate(0, 0) rotate(0);
                }

                .bar2 {
                    opacity: 1;
                }

                .bar3 {
                    transform: translate(0, 0) rotate(0);
                }

            }
        }
    }

    .mainContentWrapper {
        width: calc(100% - 15.5%);
        height: 100vh;
        overflow-y: auto;
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(112.1deg, rgb(140, 140, 140) 11.4%, rgb(95, 95, 95) 70.2%);
            position: absolute;
            z-index: 2;
            opacity: 0.3;
        }
        &.active{
            &:before{
                display: none;
            }
        }
        @media #{$ipadpro} {
            width: 100%;
        }
    }
}